101_ObjectCategories
trial_codes/data
Part_b/data/cifar-10-batches-py/test_batch
Part_b/data/cifar-10-batches-py/readme.html
Part_b/data/cifar-10-batches-py/data_batch_5
Part_b/data/cifar-10-batches-py/data_batch_4
Part_b/data/cifar-10-batches-py/data_batch_3
Part_b/data/cifar-10-batches-py/data_batch_2
Part_b/data/cifar-10-batches-py/data_batch_1
Part_b/data/cifar-10-batches-py/batches.meta
Part_b/data/cifar-10-python.tar.gz